src/construct_tracker/_version.py export-subst
rmhd_27subreddits_1040posts_train.csv filter=lfs diff=lfs merge=lfs -text
src/construct_tracker/data/datasets/reddit_27_subreddits/rmhd_27subreddits_1040posts_train.csv filter=lfs diff=lfs merge=lfs -text
